@import "../../../styles/global.scss";

.sidebar {
  background-color: navy;
  color: $light-color;
  position: fixed;
  top: $header-height;
  left: 0;
  height: calc(100vh - #{$header-height});
  width: $sidebar-width;
  padding: 10px 20px;
}

.home {
  background-color: $light-color;
  padding: 10px;
  margin-left: $sidebar-width;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1024px) {
  .sidebar {
    width: calc(#{$sidebar-width} - 100px);
  }
  .home {
    margin-left: calc(#{$sidebar-width} - 100px);
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: calc(#{$sidebar-width} - 250px);
  }
  .home {
    margin-left: calc(#{$sidebar-width} - 250px);
  }
}
