@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $font-color;
  background-color: $light-color;
  overflow-y: scroll;
}

main {
  display: flex;
}
