$header-height: 60px;
$first-color: navy;
$second-color: white;
$third-color: grey;

header {
  background-color: $first-color;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $header-height;

  &__logo {
    color: $second-color;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px;

    a {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      color: $third-color;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  &__nav-item {
  }
  &__nav-link {
    color: $second-color;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;

    &:hover {
      color: $third-color;
    }
  }

  &__toggleWrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    position: relative;
    &__logo {
    }

    &__nav-list {
      position: absolute;
      margin: 0;
      top: $header-height;
      left: -100%;
      background-color: $first-color;
      flex-direction: column;
      justify-content: space-around;
      height: calc(100vh - #{$header-height});
      width: 100%;
      transition: all 0.5s ease-in-out;

      &.open {
        left: 0;
      }
    }

    &__toggleWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
      height: 100%;
      width: 30px;
      font-size: 24px;

      position: relative;

      .fas {
        position: absolute;
        color: $second-color;
      }
    }
  }
}
