@import "../../../styles/global.scss";

.form {
  position: relative;
  input {
    width: 140px;
    padding-left: 8px;
    height: 24px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: $light-color;
    &:focus,
    &:active {
      background-color: $light-color-hover;
    }
  }

  i {
    color: $light-color-hover;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
}
